@model Entidades.Inquilino

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Inquilino</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.nro_inquilino)

        <div class="form-group">
            @Html.LabelFor(model => model.usuario, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.usuario)
                @Html.ValidationMessageFor(model => model.usuario)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.contrasena, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.contrasena)
                @Html.ValidationMessageFor(model => model.contrasena)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.nombre, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.nombre)
                @Html.ValidationMessageFor(model => model.nombre)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.apellido, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.apellido)
                @Html.ValidationMessageFor(model => model.apellido)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.direccion, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.direccion)
                @Html.ValidationMessageFor(model => model.direccion)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.telefono, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.telefono)
                @Html.ValidationMessageFor(model => model.telefono)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.dni, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.dni)
                @Html.ValidationMessageFor(model => model.dni)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.estado, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.estado)
                @Html.ValidationMessageFor(model => model.estado)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
