@model Entidades.Contrato

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Contrato</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.fecha_realizacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fecha_realizacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fecha_caducidad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fecha_caducidad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.descripcion_unidad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.descripcion_unidad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.anexo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.anexo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Alquileres.estado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Alquileres.estado)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
