@model Entidades.Contrato

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Contrato</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.cod_contrato)

        <div class="form-group">
            @Html.LabelFor(model => model.nro_alquiler, "nro_alquiler", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("nro_alquiler", String.Empty)
                @Html.ValidationMessageFor(model => model.nro_alquiler)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.cod_unidad, "cod_unidad", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("cod_unidad", String.Empty)
                @Html.ValidationMessageFor(model => model.cod_unidad)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.nro_inquilino, "nro_inquilino", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("nro_inquilino", String.Empty)
                @Html.ValidationMessageFor(model => model.nro_inquilino)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.fecha_realizacion, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.fecha_realizacion)
                @Html.ValidationMessageFor(model => model.fecha_realizacion)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.fecha_caducidad, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.fecha_caducidad)
                @Html.ValidationMessageFor(model => model.fecha_caducidad)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.descripcion_unidad, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.descripcion_unidad)
                @Html.ValidationMessageFor(model => model.descripcion_unidad)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.anexo, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.anexo)
                @Html.ValidationMessageFor(model => model.anexo)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
