@model IEnumerable<Entidades.Contrato>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.fecha_realizacion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fecha_caducidad)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.descripcion_unidad)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.anexo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Alquileres.estado)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.fecha_realizacion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fecha_caducidad)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.descripcion_unidad)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.anexo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Alquileres.estado)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.cod_contrato }) |
            @Html.ActionLink("Details", "Details", new { id=item.cod_contrato }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.cod_contrato })
        </td>
    </tr>
}

</table>
