@model IEnumerable<Entidades.Unidad>

@{
    ViewBag.Title = "Gestión de Unidades";
}

<h2>Buscar</h2>

<p>
    @Html.ActionLink("Crear nueva", "Create")
    @using (Html.BeginForm())
    {
    <p>
        Direccion: @Html.TextBox("stringBusqueda") <br />
        <br />

        <button type="submit" value="Filtrar" class="btn btn-info" title="Filtrar">
            <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
        </button>
    </p>
    }
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.m2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.descripcion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.estado)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Propiedades.ciudad)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.m2)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.descripcion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.estado)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Propiedades.ciudad)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.cod_unidad }) |
            @Html.ActionLink("Detalles", "Details", new { id=item.cod_unidad }) |
            @Html.ActionLink("Borrar", "Delete", new { id=item.cod_unidad })
        </td>
    </tr>
}

</table>
