@model Entidades.Unidad

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Unidad</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.m2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.m2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.estado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.estado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Propiedades.ciudad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Propiedades.ciudad)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.cod_unidad }) |
    @Html.ActionLink("Back to List", "Index")
</p>
