@model Entidades.Unidad

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Unidad</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.cod_unidad)

        <div class="form-group">
            @Html.LabelFor(model => model.cod_propiedad, "cod_propiedad", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("cod_propiedad", String.Empty)
                @Html.ValidationMessageFor(model => model.cod_propiedad)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.m2, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.m2)
                @Html.ValidationMessageFor(model => model.m2)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.descripcion, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.descripcion)
                @Html.ValidationMessageFor(model => model.descripcion)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.estado, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.estado)
                @Html.ValidationMessageFor(model => model.estado)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
